.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;

    &>div {
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        box-shadow: 2px 2px 2px 3px #ccc;
        padding: 2rem;
        border-radius: 5px;
    }

    & h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    & .inputBox {
        justify-content: center;
        background-color: var(--color-input);

        & .contents {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            & label {
                font-size: 0.8rem;
            }
        }

        & textarea {
            width: 200px;
            height: 100px;
        }

        & .btnGroup {
            display: flex;
            gap: 1rem;

            & button {
                display: inline-block;
                padding: 1rem;
                border: 1px solid #fff;
                border-radius: 5px;
                background-color: #000;
                color: #fff;
            }
        }

    }

    & .outputBox {
        background-color: var(--color-output);

        & p {
            font-size: 1.25rem;
            padding: 0.75rem;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        & .result {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            & div {
                margin-bottom: 2rem;
                font-size: 1.5rem;
            }
        }

        .errorMsg {
            color: var(--color-red);
        }
    }
}