.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 30px auto;
  max-width: 800px;
  font-family: 'Stylish', serif;
  font-weight: 600;
  font-style: normal;

  & h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  & .inputBox1 {
    display: flex;
    flex-direction: column;

    & label {
      margin-bottom: 0.75rem;
    }

    & input {
      font-size: 16px;
      padding: 8px;
      width: 50vw;
      border-radius: 5px;

      &:focus {
        outline: 2px solid #774de9;
      }
    }
  }

  & .inputBox2 {
    display: flex;
    flex-direction: column;

    & label {
      margin-bottom: 0.75rem;
    }

    & textarea {
      font-size: 16px;
      padding: 8px;
      border-radius: 5px;
      width: 50vw;
      height: 200px;

      &:focus {
        outline: 2px solid #774de9;
      }
    }
  }

  & .submitBtn {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #774de9;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: 'Stylish', serif;
    font-weight: 600;
    font-style: normal;

    &:hover {
      background-color: #9e81f0;
    }
  }

  & .winningNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    width: 100%;
    margin: 0 auto;

    & span {
      padding: 1.5rem;
      width: 20px;
      height: 20px;
      background: linear-gradient(#bdb1f7, #9198e5, #7f67c0);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 2px 2px 3px #aaa;
    }

    & span:last-child {
      background: linear-gradient(#bdb1f7, #3545f3, #3f297c);
      color: #fff;
      position: relative;
    }
    & span:last-child::after {
      content: '보너스';
      color: #000;
      font-size: 0.75rem;
      position: absolute;
      top: -15px;
      width: 100%;
      text-align: center;
    }
  }

  & .resultWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    & p {
      font-size: 1.25rem;
    }

    .first {
      color: #8a01fa;
      font-weight: 900;
    }

    .second {
      color: #df22b6;
      font-weight: 900;
    }

    .third {
      color: #1a91c0;
      font-weight: 900;
    }

    .fourth {
      color: #5d972e;
      font-weight: 900;
    }

    .fifth {
      color: #ffae00;
      font-weight: 900;
    }

    .losing {
      color: #aaa;
      font-weight: 500;
    }
  }

  & .error {
    color: red;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .home {
    & .inputBox1 {
      & input {
        padding: 8px;
        width: 80vw;
      }
    }

    & .inputBox2 {
      & textarea {
        padding: 8px;
        width: 80vw;
        height: 250px;
      }
    }

    .winningNumbers {
      & span {
        width: 5px;
        height: 5px;
        padding: 1rem;
      }

      & span:last-child::after {
        font-size: 0.6rem;
      }
    }
    .resultWrap {
      & p {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .home {
    .winningNumbers {
      & span {
        width: 2.5px;
        height: 2.5px;
        padding: 0.75rem;
      }
    }
    .resultWrap {
      & p {
        font-size: 0.75rem;
      }
    }
  }
}
