:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;
    --color-gray-1: #111111;
    --color-gray-2: #232323;
    --color-gray-3: #333333;
    --color-gray-4: #4c4c4c;
    --color-gray-5: #555555;
    --color-gray-6: #666666;
    --color-gray-7: #767676;
    --color-gray-8: #8c8c8c;
    --color-gray-9: #999999;
    --color-gray-a: #aaaaaa;
    --color-gray-c: #cccccc;
    --color-gray-d: #dddddd;
    --color-gray-e: #eeeeee;
    --color-gray-f: #f6f6f6;

    --color-input: #f6f6f6;
    --color-output: #dedede;
    --color-blue: #0071f0;
    --color-blue-dark: #0053b3;
    --color-red: #eb0d00;
    --color-red-rgb: 235, 13, 0;
    --color-orange: #ff9500;
    --color-yellow: #ffcc00;
    --color-green: #26873e;
    --color-cadeblue: #5f9ea0;
    --color-teal: #5ac8fa;
    --color-indigo: #5856d6;
    --color-purple: #af52de;
    --color-pink: #ff2d55;

    --color-em: #ff59e3;
}